[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
flake8 = "*"
mypy = "*"
pylint = "*"
black = "*"
pydantic-settings = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
